{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} 数据管理 {% endblock %}

{% block css %}
<!-- Ionicons -->
<link rel="stylesheet" href="{% static 'adminlte/css/ionicons.min.css' %}">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
<section>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">数据备份</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 100px;">
              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><a href="/add_data/" class="fa fa-plus"></a></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <tr>
              <th>ID</th>
              <th>NAME</th>
              <th>SIZE</th>
              <th>OPERATION</th>
            </tr>
            {% for data in datas %}
            <tr>
              <td>{{data.id}}</td>
              <td>{{data.name}}.bak</td>
              <td>{{data.size}}kb</td>
              <td>
                <a href="/load_data/?name={{ data.name }}">
                  <button type="button" class="btn btn-block btn-outline-success"
                    onclick="return confirm('确定恢复该备份？')">恢复</button>
                </a>
              </td>
              <td>
                <a href="/download_data/?name={{ data.name }}">
                  <button type="button" class="btn btn-block btn-outline-info">下载</button>
                </a>
              </td>
              <td>
                <a href="/del_data/?name={{ data.name }}"> <button type="button"
                    class="btn btn-block btn-outline-danger" onclick="return confirm('确定删除？')">删除</button>
                </a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div><!-- /.row -->
</section>
{% endblock %}

{% block script %}

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>

{% endblock %}