{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} 设备详情 {% endblock %}

{% block css %}
<!-- Ionicons -->
<link rel="stylesheet" href="{% static 'adminlte/css/ionicons.min.css' %}">
{% endblock %}

{% block content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid" src="{% static equ.img %}" alt="equipment img">
                        </div>

                        <h3 class="profile-username text-center">{{ equ.name }}</h3>

                        <p class="text-muted text-center">{{ equ.sn }}</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>品牌</b> <a class="float-right">{{ equ.brand }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>类别</b> <a class="float-right">{{ equ.category }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>备注</b> <a class="float-right">{{ equ.remark }}</a>
                            </li>
                        </ul>
                        {% if equ.state == "useing" %}
                        <a href="#" class="btn btn-success btn-block"><b>使用中</b></a>
                        {% elif equ.state == "problem" %}
                        <a href="#" class="btn btn-warning btn-block"><b>问题</b></a>
                        {% elif equ.state == "unused" %}
                        <a href="#" class="btn btn-default btn-block"><b>库存</b></a>
                        {% elif equ.state == "scrap" %}
                        <a href="#" class="btn btn-danger btn-block"><b>报废</b></a>
                        {% elif equ.state == "fixing" %}
                        <a href="#" class="btn btn-info btn-block"><b>维修</b></a>
                        {% elif equ.state == "sell" %}
                        <a href="#" class="btn btn-info btn-block"><b>卖出</b></a>
                        {% endif %}
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{ merchant.name }}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fa fa-book mr-1"></i> 联系信息</strong>

                        <p class="text-muted">
                            <ul>
                                <li>
                                    {{ merchant.contact }}
                                </li>
                                <li>
                                    {{ merchant.phone }}
                                </li>
                                <li>
                                    {{ merchant.email }}
                                </li>
                            </ul>
                        </p>
                        <hr>
                        <strong><i class="fa fa-map-marker mr-1"></i> 店面位置</strong>
                        <p class="text-muted">{{ merchant.info }}</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">时间线</a>
                            </li>
                        </ul>
                    </div><!-- /.card-header -->

                    <div class="card-body">
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="timeline">
                            <!-- The timeline -->

                            <ul class="timeline timeline-inverse">
                                <!-- timeline time label -->
                                {% for date, messages in timelines.items %}
                                <li class="time-label">
                                    <span class="bg-success">
                                        {{ date }}
                                    </span>
                                </li>
                                {% for message in messages %}
                                {% for data in message %}
                                {% if data.changes %}
                                <li>
                                    {% if data.type == '+' %}
                                    <i class="fa fa-map-marker bg-primary"></i>
                                    {% elif  data.type == '~' %}
                                    <i class="fa fa-clock-o bg-warning"></i>
                                    {% elif  data.type == '-' %}
                                    <i class="fa fa-comments bg-danger"></i>
                                    {% endif %}

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> {{ data.date|date:"H:i:s" }}
                                        </span>

                                        <h3 class="timeline-header">
                                            <a href="#">
                                                {% if data.user == 1 %}
                                                周维
                                                {% elif  data.user == 2 %}
                                                冯海艳
                                                {% endif %}
                                            </a>
                                            {% if data.type == '+' %}
                                            新增了
                                            {% elif data.type == '~' %}
                                            修改了
                                            {% elif data.type == '-' %}
                                            删除了
                                            {% endif %}
                                        </h3>

                                        <div class="timeline-body">
                                            {% for v in data.changes %}
                                            {% if v.field == 'img' %}
                                            将图片地址修改为{{v.new}}
                                            {% elif v.field == 'state' %}
                                            将状态修改为
                                            {% if v.new == 'unused' %}
                                            库存
                                            {% elif v.new == 'useing' %}
                                            使用中
                                            {% elif v.new == 'fixing' %}
                                            维修中
                                            {% elif v.new == 'scrap' %}
                                            报废
                                            {% elif v.new == 'problem' %}
                                            问题
                                            {% elif v.new == 'sell' %}
                                            卖出
                                            {% endif %}
                                            {% elif v.field == 'remark' %}
                                            将备注修改为{{v.new}}
                                            {% elif v.field == 'maintain' %}
                                            {% if v.new == 2 %}
                                            将维修商修改为钻石维修
                                            {% endif %}
                                            {% elif v.field == 'user' %}
                                            {% if v.new == 1 %}
                                            将使用人修改为冯海艳
                                            {% elif v.new == 2 %}
                                            将使用人修改为周维
                                            {% endif %}
                                            {% endif %}
                                            <br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                                {% endfor %}
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}

{% block script %}

<!-- FastClick -->
<script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
<!-- page script -->

{% endblock %}