{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} 设备详情 {% endblock %}

{% block css %}
<!-- Ionicons -->
<link rel="stylesheet" href="{% static 'adminlte/css/ionicons.min.css' %}">
{% endblock %}

{% block content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid" src="{% static equ.img %}" alt="equipment img">
                        </div>

                        <h3 class="profile-username text-center">{{ equ.name }}</h3>

                        <p class="text-muted text-center">{{ equ.sn }}</p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>品牌</b> <a class="float-right">{{ equ.brand }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>类别</b> <a class="float-right">{{ equ.category }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>备注</b> <a class="float-right">{{ equ.remark }}</a>
                            </li>
                        </ul>
                        {% if equ.state == "useing" %}
                        <a href="#" class="btn btn-success btn-block"><b>使用中</b></a>
                        {% elif equ.state == "problem" %}
                        <a href="#" class="btn btn-warning btn-block"><b>问题</b></a>
                        {% elif equ.state == "unused" %}
                        <a href="#" class="btn btn-default btn-block"><b>库存</b></a>
                        {% elif equ.state == "scrap" %}
                        <a href="#" class="btn btn-danger btn-block"><b>报废</b></a>
                        {% elif equ.state == "fixing" %}
                        <a href="#" class="btn btn-info btn-block"><b>维修</b></a>
                        {% elif equ.state == "sell" %}
                        <a href="#" class="btn btn-info btn-block"><b>卖出</b></a>
                        {% endif %}
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- About Me Box -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{ merchant.name }}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fa fa-book mr-1"></i> 联系信息</strong>

                        <p class="text-muted">
                            <ul>
                                <li>
                                    {{ merchant.contact }}
                                </li>
                                <li>
                                    {{ merchant.phone }}
                                </li>
                                <li>
                                    {{ merchant.email }}
                                </li>
                            </ul>
                        </p>
                        <hr>
                        <strong><i class="fa fa-map-marker mr-1"></i> 店面位置</strong>
                        <p class="text-muted">{{ merchant.info }}</p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">时间线</a>
                            </li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="timeline">
                            <!-- The timeline -->
                            <ul class="timeline timeline-inverse">
                                <!-- timeline time label -->
                                <li class="time-label">
                                    <span class="bg-danger">
                                        10 Feb. 2014
                                    </span>
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-envelope bg-primary"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                                        <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email
                                        </h3>

                                        <div class="timeline-body">
                                            {% for history in equ_historys %}

                                            {{ history.history_date }}

                                            {% if history.history_user_id == 2 %}
                                            冯海艳
                                            {% elif history.history_user_id == 1 %}
                                            周维
                                            {% endif %}

                                            {% if history.history_type == '+' %}
                                            新增
                                            {% elif history.history_type == '~' %}
                                            修改
                                            {% elif history.history_type == '-' %}
                                            删除
                                            {% endif %}
                                            <br>
                                            {% endfor %}
                                        </div>
                                        <div class="timeline-footer">
                                            <a href="#" class="btn btn-primary btn-sm">Read more</a>
                                            <a href="#" class="btn btn-danger btn-sm">Delete</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-user bg-info"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                                        <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted
                                            your friend request
                                        </h3>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-comments bg-warning"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                                        <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post
                                        </h3>

                                        <div class="timeline-body">
                                            Take me to your leader!
                                            Switzerland is small and neutral!
                                            We are more like Germany, ambitious and misunderstood!
                                        </div>
                                        <div class="timeline-footer">
                                            <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <!-- timeline time label -->
                                <li class="time-label">
                                    <span class="bg-success">
                                        3 Jan. 2014
                                    </span>
                                </li>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <li>
                                    <i class="fa fa-camera bg-purple"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>

                                        <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos
                                        </h3>

                                        <div class="timeline-body">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                                        </div>
                                    </div>
                                </li>
                                <!-- END timeline item -->
                                <li>
                                    <i class="fa fa-clock-o bg-gray"></i>
                                </li>
                            </ul>
                        </div>
                        <!-- /.tab-pane -->


                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}

{% block script %}

<!-- FastClick -->
<script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
<!-- page script -->

{% endblock %}