{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} 财务相关 {% endblock %}

{% block css %}
<!-- Ionicons -->
<link rel="stylesheet" href="{% static 'adminlte/css/ionicons.min.css' %}">
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">资产盘点</h3>
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 100px;">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default" title="打印报表" onclick="doPrint()"><a
                                        class="fa fa-print"></a></button>
                                &nbsp &nbsp
                                <button type="submit" class="btn btn-default" title="导出报表"><a href="/export/"
                                        class="fa fa-file"></a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <!--startprint-->
                <div class="card-body">
                    <table id="equipment-list" class="table table-bordered table-striped">
                        <thead>
                            {% if message %}
                            <div class=" alert alert-warning">{{ message }}</div>
                            {% endif %}
                            <tr>
                                <th>资产编号</th>
                                <th>资产类别</th>
                                <th>资产名称</th>
                                <th>SN码</th>
                                <th>状态</th>
                                <th>使用人</th>
                                <th>采购价格</th>
                                <th>卖出价格</th>
                                <th>备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for equ in equs %}
                            <tr>
                                <td>{{ equ.id }}</td>
                                <td>{{ equ.category }}</td>
                                <td>{{ equ.name }}</td>
                                <td>{{ equ.sn }}</td>

                                {% if equ.state == "useing" %}
                                <td>
                                    <i class="nav-icon fa fa-circle-o text-success">使用中</i>
                                </td>
                                {% elif equ.state == "problem" %}
                                <td>
                                    <i class="nav-icon fa fa-circle-o text-warning">问题</i>
                                </td>
                                {% elif equ.state == "unused" %}
                                <td>
                                    <i class="nav-icon fa fa-circle-o text-default">库存</i>
                                </td>
                                {% elif equ.state == "scrap" %}
                                <td>
                                    <i class="nav-icon fa fa-circle-o text-danger">报废</i>
                                </td>
                                {% elif equ.state == "fixing" %}
                                <td>
                                    <i class="nav-icon fa fa-circle-o text-info">维修中</i>
                                </td>
                                {% elif equ.state == "sell" %}
                                <td>
                                    <i class="nav-icon fa fa-circle-o text-info">卖出</i>
                                </td>
                                {% endif %}

                                <td>{{ equ.user }}</td>
                                <td>{{ equ.price_in }}</td>
                                <td>
                                    {% if equ.price_out %}
                                    {{ equ.price_out }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if equ.remark %}
                                    {{ equ.remark }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>资产编号</th>
                                <th>资产类别</th>
                                <th>资产名称</th>
                                <th>SN码</th>
                                <th>状态</th>
                                <th>使用人</th>
                                <th>采购价格</th>
                                <th>卖出价格</th>
                                <th>备注</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
                <!--endprint-->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}

{% block script %}

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'plugins/fastclick/fastclick.js' %}"></script>
<!-- page script -->
<script>
    $(function () {
        $('#equipment-list').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
    var doPrint = function () {
        bdhtml=window.document.body.innerHTML;      
        sprnstr="<!--startprint-->";      
        eprnstr="<!--endprint-->";      
        prnhtml=bdhtml.substr(bdhtml.indexOf(sprnstr)+17);      
        prnhtml=prnhtml.substring(0,prnhtml.indexOf(eprnstr));      
        window.document.body.innerHTML=prnhtml;   
        window.print()
    }
</script>
{% endblock %}