{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} 消息中心 {% endblock %}

{% block css %}
<!-- Ionicons -->
<link rel="stylesheet" href="{% static 'adminlte/css/ionicons.min.css' %}">
<!-- iCheck -->
<link rel="stylesheet" href="{% static 'plugins/iCheck/flat/blue.css' %}">
{% endblock %}

{% block content %}


<div class="card card-primary card-outline">
    <div class="card-body p-0">
        <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-book"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
            </div>
            <!-- /.btn-group -->
            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
            <div class="float-right">
                1-50/{{notices|length}}
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                </div>
                <!-- /.btn-group -->
            </div>
            <!-- /.float-right -->
        </div>
        <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
                <tbody>
                    {% for notice in notices %}
                    <tr>
                        <td><input type="checkbox"></td>
                        <td class="mailbox-name"><a href="/notice/?id={{notice.id}}">{{notice.title}}</a></td>
                        <td class="mailbox-subject">
                            {% if notice.is_read == 1 %}
                            <font color=gray> {{notice.content | truncatewords:"2"}}...</font>
                            {% else %}
                            {{notice.content | truncatewords:"2"}}...
                            {% endif %}
                        </td>
                        <td class="mailbox-attachment"></td>
                        <td class="mailbox-date">{{notice.c_time|date:"Y-m-d H:i:s"}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- /.table -->
        </div>
        <!-- /.mail-box-messages -->
    </div>
    <!-- /.card-body -->
</div>

{% endblock %}